<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header h4" th:text="${titulo}"></div>
			<div class="card-body">

				<h4 class="card-title">
					<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/form}"
						class="btn btn-primary btn-raised"><i
						class="fa fa-user-plus mr-1" aria-hidden="true"></i>Nuevo Cliente</a>
					<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/form}"
						class="btn btn-warning btn-raised"><i
						class="fa fa-search mr-1" aria-hidden="true"></i>Buscar</a> <a
						class="btn btn-info btn-raised btn-xs float-right mx-1"
						th:href="@{'/listar'(format=json)}"><i
						class="fa fa-list-ol mx-1" aria-hidden="true"></i>JSON</a> <a
						class="btn btn-danger btn-raised btn-xs float-right"
						target="_blank"><i class="fa fa-file-pdf-o mr-2"
						aria-hidden="true"></i>PDF</a>
				</h4>

				<div class="table-responsive">
					<table class="table table-striped table-bordered">
						<thead class="thead-inverse text-center thead-dark">
							<tr>
								<th sec:authorize="hasRole('ROLE_USER')">ID</th>
								<th th:text="#{text.cliente.nombre}">Nombre</th>
								<th th:text="#{text.cliente.apellido}">Apellido</th>
								<th th:text="#{text.cliente.email}">Email</th>
								<th th:text="#{text.cliente.createAt}">Creación</th>
								<th sec:authorize="hasRole('ROLE_ADMIN')">Facturar</th>
								<th sec:authorize="hasRole('ROLE_ADMIN')">Editar</th>
								<th sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="cliente: ${clientes}">
								<td sec:authorize="hasRole('ROLE_USER')"><a
									class="btn btn-primary btn-xs"
									th:href="@{/ver/} + ${cliente.id}" th:text="${cliente.id}"></a></td>
								<td class="text-center align-middle" th:text="${cliente.nombre}"></td>
								<td class="text-center align-middle"
									th:text="${cliente.apellido}"></td>
								<td class="text-center align-middle" th:text="${cliente.email}"></td>
								<td class="text-center align-middle"
									th:text="${cliente.createAt}"></td>
								<td class="text-center align-middle"
									sec:authorize="hasRole('ROLE_ADMIN')"><a
									class="btn btn-raised btn-success" title="Crear Factura"
									th:href="@{'/factura/form/' + ${cliente.id}}"><i
										class="fa fa-list-alt fa-lg" aria-hidden="true"></i></a></td>
								<td class="text-center align-middle"
									sec:authorize="hasRole('ROLE_ADMIN')"><a
									class="btn btn-raised btn-primary" title="Editar Cliente"
									th:href="@{/form/} + ${cliente.id}"><i
										class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></a></td>
								<td class="text-center align-middle"
									sec:authorize="hasRole('ROLE_ADMIN')"><a
									class="btn btn-raised btn-danger"
									th:href="@{/eliminar/} + ${cliente.id}"
									title="Eliminar cliente"
									onclick="return confirm('Estas seguro que quieres eliminar?');"><i
										class="fa fa-trash fa-lg" aria-hidden="true"></i></a></td>
							</tr>
						</tbody>

					</table>
				</div>
				<nav th:replace="paginator-nav :: paginator"></nav>
			</div>
		</div>


	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>