<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">
		<div class="row">
			<div class="col-6 mx-auto">
				<div class="card">
					<div class="card-header text-center">
                        <img src="https://www.designevo.com/res/templates/thumb_small/rounded-symbol-letter-a-and-c.png" alt="" class="img-fluid">
                    </div>
					
					<div class="card-body">
					 <h5 class="card-title text-center"><strong>Iniciar Sesión</strong></h5>
						<form th:action="@{/login}" method="post">

							<div class="form-group">
								<label for="username" class="bmd-label-floating">Usuario</label>
								<input type="text" class="form-control" autofocus required
									id="username" name="username">
							</div>
							<div class="form-group">
								<label for="password" class="bmd-label-floating">Contraseña</label>
								<input type="password" name="password" id="password"
									class="form-control" required />
							</div>

							<div class="form-group">
								<button type="submit" class="btn btn-raised btn-info btn-block">
									<i class="fa fa-sign-in mr-1" aria-hidden="true"></i>Iniciar
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>


	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>