<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<h4 class="card-title">
					<a sec:authorize="hasRole('ROLE_ADMIN')"
						class="btn btn-primary btn-raised btn-xs"
						th:href="@{'/factura/form/' + ${cliente.id}}"><i
						class="fa fa-plus mr-1" aria-hidden="true"></i>Nueva Factura</a> <a
						class="btn btn-danger btn-raised btn-xs float-right"
						target="_blank"><i class="fa fa-file-pdf-o mr-2"
						aria-hidden="true"></i>PDF</a>
				</h4>

				<img th:if="${#strings.length(cliente.foto) > 0}"
					class="img-thumbnail rounded float-left" style="max-width: 25%;"
					th:src="@{'/uploads/' + ${cliente.foto}}" th:alt="${cliente.foto}" />

				<ul class="list-group">
					<li class="list-group-item active" th:text="'Datos de cliente'"></li>
					<li class="list-group-item"
						th:text="'Nombre: ' + ${cliente.nombre}"></li>
					<li class="list-group-item"
						th:text="'Apellido: ' + ${cliente.apellido}"></li>
					<li class="list-group-item" th:text="'Email: ' + ${cliente.email}"></li>
					<li class="list-group-item"
						th:text="'Creación ' + ${cliente.createAt}"></li>
				</ul>

				<div th:if="${#lists.isEmpty(cliente.facturas)}"
					class="alert alert-info my-4"
					th:text="'No hay facturas asignadas para el cliente ' + ${cliente.nombre} + ' ' + ${cliente.apellido}"></div>

				<table th:if="${not #lists.isEmpty(cliente.facturas)}"
					class="table table-bordered table-striped my-4">
					<thead class="thead-inverse">
						<tr class="thead-dark text-center">
							<th>ID</th>
							<th>Descripción</th>
							<th>Fecha</th>
							<th>Total</th>
							<th sec:authorize="hasRole('ROLE_ADMIN')">Ver</th>
							<th sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="factura: ${cliente.facturas}">
							<td class="text-center align-middle" th:text="${factura.id}"></td>
							<td class="text-center align-middle"
								th:text="${factura.descripcion}"></td>
							<td class="text-center align-middle"
								th:text="${factura.createAt}"></td>
							<td class="text-center align-middle"
								th:text="${'$' + factura.total}"></td>
							<td class="text-center align-middle"
								sec:authorize="hasRole('ROLE_ADMIN')"><a
								class="btn btn-raised btn-primary"
								th:href="@{'/factura/ver/' + ${factura.id}}" title="Ver detalle"><i
									class="fa fa-eye" aria-hidden="true"></i></a></td>
							<td class="text-center align-middle"
								sec:authorize="hasRole('ROLE_ADMIN')"><a
								class="btn btn-danger btn-raised"
								th:href="@{'/factura/eliminar/' + ${factura.id}}"
								title="Eliminar"
								onclick="return confirm('¿Estas seguro que desea eliminar la factura?');"><i
									class="fa fa-trash" aria-hidden="true"></i></a></td>
						</tr>
					</tbody>

				</table>

			</div>
		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>